h1{
    font-family: 'Ranchers', cursive;
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid grey;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
    background-color: aquamarine;
}
footer{
    position: sticky;
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: gray;
    border-top: 3px solid blue;
}
.container {
    width: 75%;
    margin-left: 50px;
    margin-top: 100px;
    background-color: beige;
    border: 2px solid grey;
}
.navbar-brand {
    font-family: 'Ranchers', cursive;
    background-color:lightblue;
    color: white;
}